<div class="row mb-4">
  <div class="col-12">
    <h4>Create Jira Issue</h4>
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Title</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>

      <div class="form-group">
        <label for="inputType">Type</label>
        <select id="inputType" class="form-control">
          <option selected>Choose...</option>
          <option>Bug</option>
          <option>Change Request</option>
        </select>
      </div>

      <div class="form-group">
        <label for="inputPriority">Priority</label>
        <select id="inputPriority" class="form-control">
          <option selected>Choose...</option>
          <option>Critical</option>
          <option>Major</option>
          <option>Minor</option>
        </select>
      </div>

      <div class="form-group">
        <label for="inputFixVersion">Fix Version</label>
        <small class="form-text text-muted optional">(Optional)</small>
        <select id="inputFixVersion" class="form-control">
          <option selected>Choose...</option>
          <option>8.8</option>
          <option>8.8.1</option>
          <option>8.8.2.1</option>
          <option>8.8.3</option>
        </select>
      </div>

      <div class="form-group">
        <label for="exampleFormControlTextarea1">Description</label>
        <small id="emailHelp" class="form-text text-muted optional">(Optional)</small>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>

      <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="screenshotCheckbox" [checked]="isScreenshotChecked" (change)="isScreenshotChecked = !isScreenshotChecked"/>
          <label class="form-check-label" for="screenshotCheckbox">Attach screenshot</label>
      </div>

      <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="logCheckbox" [checked]="isLogChecked" (change)="isLogChecked = !isLogChecked"/>
          <label class="form-check-label" for="logCheckbox">Attach HTTP client log</label>
      </div>
    </form>
  </div>
</div>
<button class="btn btn-primary btn-sm" (click)="downloadFile()">Submit</button>
  