/* You can add global styles to this file, and also import other style files */
body {
    width:450px;
    height:580px;
}

.optional {
    display: inline;
    margin-left: 4px;
}

.nav-item-active {
    border-bottom: 2px;
}