/* You can add global styles to this file, and also import other style files */
body {
    width:450px;
    height:580px;

    /* Workaround to fix additional right margin created by browser when scrollbar is visible on certain page. 
    Webkit only property ? Not sure if its cross browser, have to investigate */
    overflow: overlay;
}

.optional {
    display: inline;
    margin-left: 4px;
}

.nav {
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

.nav-item-active {
    border-bottom: 2px solid #007bff;
    outline: 0;
}